<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61833/WCFApp.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ServiceInterface" contract="WCFService.ServiceInterface"
                name="BasicHttpBinding_ServiceInterface" />
        </client>
    </system.serviceModel>
</configuration>