@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am an experienced IT Professional, Geek of all sorts of new tachnologies and things with high expertise in implementing various types of software
    systems and solutions from web-based, mobile, front-end to back-end. I am passionate about my personal Android projects along with new technologies
    which I think that will help creation of "human 2.0" such as Machine Learning, Neural Networks and AI.<br /><br />

    I have dual-degree on Information Systems and Computer Science one from my home Istanbul Technical University and other from (SUNY) Binghamton
    University and I have been working in different industries such as healtcare, finance and government. I am currently working on two major projects
    one of which is integration of an ERP system and other one is implementing Datawarehouse for a government agency. <br /><br />
</p>
