@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>
<p>@ViewData["Message"]</p>

<address>
    <strong><span class="glyphicon glyphicon-envelope"></span>  Email:</strong> <a href="mailto:aozcan2@my.harrisburgu.edu">aozcan2@my.harrisburgu.edu</a><br />
    <strong><span class="glyphicon glyphicon-phone"> </span>    Phone:</strong> <a>555-123-4567</a>
</address>
